<h2>Decades/Years</h2>

<table class="table table-condensed table-hover">
    <tbody data-bind="foreach: decades">
        <tr>
            <td class="col-xs-1">
                <strong><a data-bind="attr: {href: $data.Route}, text: $data.Title"></a></strong>
                <span class="label label-default" data-bind="text: $data.SongCount"></span>
            </td>
            <!-- ko foreach: $data.Years -->
            <td class="col-xs-1">
                <a data-bind="attr: {href: $data.Route}, text: $data.Title"></a>
                <span class="label label-default" data-bind="text: $data.SongCount"></span>
            </td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>


<!--<h2>Months TODO</h2>

<h2>Top Artists TODO</h2>

<h2>Etc.</h2>

<p>Possibly other top lists. Wordcloud.</p>-->

