<h1 style="text-align: center">
    <a class="btn btn-default" data-bind="visible: previousRoute, attr: { href: previousRoute }"><i class="fa fa-chevron-left"></i></a>
    <span data-bind="text: title"></span>
    <a class="btn btn-default" data-bind="visible: nextRoute, attr: { href: nextRoute}"><i class="fa fa-chevron-right"></i></a>
</h1>

<!--ko compose: {model: router.activeItem, afterCompose: router.afterCompose} -->
<!--/ko-->

<table class="table table-condensed table-hover" data-bind="visible: data().length > 0">
    <thead>
        <tr>
            <th data-bind="hidden: columns.rank.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rank</a>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setSort('rank',true)"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('rank',false)"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.rank.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.title.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Title</a>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setSort('title',true)"><a href="#"><i class="fa fa-sort-alpha-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('title',false)"><a href="#"><i class="fa fa-sort-alpha-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.title.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.artist.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Artist</a>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setSort('artistObject.name',true)"><a href="#"><i class="fa fa-sort-alpha-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('artistObject.name',false)"><a href="#"><i class="fa fa-sort-alpha-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.artist.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.debutDate.hidden">Date</th>
            <th data-bind="hidden: columns.score.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Score</a>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setSort('score',true)"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('score',false)"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.score.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.debutRank.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">D</a>
                    <ul class="dropdown-menu">
                        <li><b>Debut Rank (D)</b>
                        <li data-bind="click: setSort('debutRank',true)"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('debutRank',false)"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.debutRank.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.peakRank.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">P</a>
                    <ul class="dropdown-menu">
                        <li><b>Peak Rank (P)</b></li>
                        <li data-bind="click: setSort('peakRank',true)"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('peakRank',false)"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.peakRank.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
            <th data-bind="hidden: columns.duration.hidden">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">M</a>
                    <ul class="dropdown-menu">
                        <li><b>Duration (Months) (M)</b></li>
                        <li data-bind="click: setSort('duration',true)"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
                        <li data-bind="click: setSort('duration',false)"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
                        <li data-bind="toggle: columns.duration.hidden"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach: data">
        <tr>
            <td data-bind="hidden: $root.columns.rank.hidden"><span data-bind="text: ChartRank"></span></td>
            <td data-bind="hidden: $root.columns.title.hidden"><a href="#song(song)"><span data-bind="text: Title"></span></a></td>
            <td data-bind="hidden: $root.columns.artist.hidden">
                <!-- ko with: Artist -->
                <a href="#artist(artist)" data-bind="text: Title"></a>
                <!--<i data-bind="hidden: song.artistObject.$resolved" class="fa fa-spinner fa-spin"></i>-->
                <!-- /ko -->
            </td>
            <td data-bind="hidden: $root.columns.debutDate.hidden"><!--<span data-bind="text: DebutDate"></span>--></td>
            <td data-bind="hidden: $root.columns.score.hidden"><span data-bind="text: Score"></span></td>
            <td data-bind="hidden: $root.columns.debutRank.hidden"><span data-bind="text: DebutRank"></span></td>
            <td data-bind="hidden: $root.columns.peakRank.hidden"><span data-bind="text: PeakRank"></span></td>
            <td data-bind="hidden: $root.columns.duration.hidden"><span data-bind="text: Duration"></span></td>
        </tr>
    </tbody>
</table>

