<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://songchartsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>songchartsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SongChartsAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SongChartsAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xiuwv141zm.database.windows.net,1433;Initial Catalog=SongChartsAPI_db;User ID=jbnv@xiuwv141zm;Password=Raichu12" Name="Data Source=tcp:xiuwv141zm.database.windows.net,1433;Initial Catalog=SongChartsAPI_db;User Id=jbnv@xiuwv141zm;Password=Raichu12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xiuwv141zm.database.windows.net;Initial Catalog=SongCharts;Persist Security Info=True;User ID=jbnv;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=xiuwv141zm.database.windows.net;Initial Catalog=SongCharts;Persist Security Info=True;User ID=jbnv;Pooling=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xiuwv141zm.database.windows.net,1433;Initial Catalog=SongChartsAPI_db;User Id=jbnv@xiuwv141zm;Password=Raichu12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>